

<!------Contact Me------>
<footer>
  <div class="container-fluid py-5 px-5">
    <div class="row px-5">
      <div class="col-md-5 px-5">
		  <img src={{img}} >
        <h6 class="mt-5">{{copyright}}</h6>
      </div>
      <div class="col-md-3">
        <h6>Get Help</h6>
        <h6>Buy gift cards</h6>
        <h6>Add your restaurant</h6>
        <h6>Sign up to deliver</h6>
        <h6>Create a business account</h6>
        <h6>Promotions</h6>
      </div>
      <div class="col-md-2">
        <h6>Restaurants near me</h6>
        <h6>View all cities</h6>
        <h6>View all countries</h6>
        <h6>Pickup near me</h6>
        <h6>About Us</h6>
        <h6>English</h6>
      </div>
      <div class="col-md-2">
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
