<section class="container-fluid store">
  <div class="row">
    <div class="col-md-7">
      <img src="{{ img }}" class="store-img px-3" width="100%" height="auto" />
    </div>

    <div class="col-md-5 p-5 mt-5 store-text">
      <h2 class="title-text-h2">{{ title }}</h2>
      <p class="subtitle-text-p">{{ subtitle }}</p>

      <a
        href="https://www.apple.com/in/app-store/"
        target="_blank"
        class="market-btn apple-btn"
        role="button"
      >
        <span class="market-button-subtitle">Download on the</span>
        <span class="market-button-title">App Store</span>
      </a>
      &nbsp;&nbsp;
      <a
        href="https://play.google.com/store/games?device=windows&utm_source=apac_med&hl=en-IN&utm_medium=hasem&utm_content=Jan0324&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1707570-med-hasem-py-Evergreen-Jan0324-Text_Search_BKWS-BKWS%7CONSEM_kwid_43700065205026415_creativeid_535350509927_device_c&gclid=Cj0KCQiAtOmsBhCnARIsAGPa5ybnql-BAaO49Gj6qUy7sE6PAnrdu3Z11Lm5i5M3-feOHoiCUuQn9wIaAu4iEALw_wcB&gclsrc=aw.ds&pli=1"
        target="_blank"
        class="market-btn google-btn"
        role="button"
      >
        <span class="market-button-subtitle">Download on the</span>
        <span class="market-button-title">Google Play</span>
      </a>
    </div>
  </div>
</section>
