<section class="container-fluid about">
  <div class="row">
    <div class="col-md-5">
      <div class="image-container px-5">
        <img src="{{ img }}" class="img-fluid img" alt="About Image" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="about-text px-5">
        <h2 class="title">{{ title }}</h2>
        <p class="subtitle-text-p">{{ subtitle }}</p>
        <button type="button" class="btn btn-primary">Find restaurant</button>
      </div>
    </div>
  </div>
</section>
