<div class="hero">
	`1<nav>
	  <i class="fa fa-bars menu"></i>
	  <h2 class="logo">Go <br />Grubz</h2>
	  <div class="navbar">
		<ul>
		  <li><a routerLink="/Home">Order</a></li>
		  <li><a routerLink="/About">Location</a></li>
		  <li><a routerLink="/Skills">Contact Us</a></li>
		  <li><a routerLink="/Project">About Us</a></li>
		  <li><a routerLink="/Technology-platform">Add you restaurant</a></li>
		</ul>
	  </div>
	  <ul>
		<li>
		  <a href="#" class="btn">Sign Up</a>
		</li>
		<li>
		  <a href="#" class="btn">Sign In</a>
		</li>
	  </ul>
	</nav>
	<div class="content row">
	  <div class="col-11 text">
		<h1>
		  {{ title1 }}<br /><span>{{ title2 }}</span>
		</h1>
  
		<div class="newslatter">
		  <form>
			<input
			  type="text"
			  name="search"
			  id="search"
			  placeholder="Enter passcode or delivery adress"
			/>
			<input type="submit" name="submit" value="Search" />
		  </form>
		</div>
		<div class="container mt-5">
		  <div class="row">
			<div class="col-sm-3 col-xs-3">
			  <h3>
				230<br />
				<h4 class="subtitle-text">Restaurant</h4>
			  </h3>
			</div>
			<div class="col">
			  <h3>
				30,000<br />
				<h4 class="subtitle-text">User</h4>
			  </h3>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="col-1" >
		<img src="{{ img }}" class="banner" />
	  </div>
	</div>
  </div>